/*Animations of universe and planets*/
@-webkit-keyframes starPluse {
  from {opacity: 1;}
  to { opacity: 0.2;}
}

@-moz-keyframes starPluse {
  from {opacity: 1;}
  to { opacity: 0.2;}
}

@-o-keyframes starPluse {
  from {opacity: 1;}
  to { opacity: 0.2;}
}

@keyframes starPluse {
  from {opacity: 1;}
  to { opacity: 0.2;}
}

/* SUN GLOW ANIMATION */
@-webkit-keyframes sunGlow {
  from {
    -webkit-box-shadow: 0 0 50px #f5c91a;
    -moz-box-shadow: 0 0 50px #f5c91a;
    box-shadow: 0 0 50px #f5c91a;
  }
  to {
    -webkit-box-shadow: 0 0 100px #f5c91a;
    -moz-box-shadow: 0 0 100px #f5c91a;
    box-shadow: 0 0 100px #f5c91a;
  }
}

@-moz-keyframes sunGlow {
  from {
    -webkit-box-shadow: 0 0 50px #f5c91a;
    -moz-box-shadow: 0 0 50px #f5c91a;
    box-shadow: 0 0 50px #f5c91a;
  }
  to {
    -webkit-box-shadow: 0 0 100px #f5c91a;
    -moz-box-shadow: 0 0 100px #f5c91a;
    box-shadow: 0 0 100px #f5c91a;
  }
}

@-o-keyframes sunGlow {
  from {
    -webkit-box-shadow: 0 0 50px #f5c91a;
    -moz-box-shadow: 0 0 50px #f5c91a;
    box-shadow: 0 0 50px #f5c91a;
  }
  to {
    -webkit-box-shadow: 0 0 100px #f5c91a;
    -moz-box-shadow: 0 0 100px #f5c91a;
    box-shadow: 0 0 100px #f5c91a;
  }
}

@keyframes sunGlow {
  from {
    -webkit-box-shadow: 0 0 50px #f5c91a;
    -moz-box-shadow: 0 0 50px #f5c91a;
    box-shadow: 0 0 50px #f5c91a;
  }
  to {
    -webkit-box-shadow: 0 0 100px #f5c91a;
    -moz-box-shadow: 0 0 100px #f5c91a;
    box-shadow: 0 0 100px #f5c91a;
  }
}


/* PLANET ROTATion ANIMATION*/
@-webkit-keyframes planetRotation {
  from{ transform: rotate (0); }
  to { transform: rotate(360deg); }
}

@-moz-keyframes planetRotation {
  from{ transform: rotate (0); }
  to { transform: rotate(360deg); }
}

@-o-keyframes planetRotation {
  from{ transform: rotate (0); }
  to { transform: rotate(360deg); }
}

@keyframes planetRotation {
  from{ transform: rotate (0); }
  to { transform: rotate(360deg); }
}



/*Style for universe and planets*/
html, body, #universe, #stars{
  height: 100%;
  width: 100%;
}

#universe{
  background: black;
  background: -webkit-radial-gradient(#555, #000);
  background: -moz-radial-gradient(#555, #000);
  background: -o-radial-gradient(#555, #000);
  background: radial-gradient(#555, #000);
}

#stars{
  background: url('../images/stars.jpg') no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;

  -webkit-animation: starPluse 5s infinite alternate;
  -moz-animation: starPluse 5s infinite alternate;
  -o-animation: starPluse 5s infinite alternate;
  animation: starPluse 5s infinite alternate;
}

#sun{
  height: 200px;
  width: 200px;
  transform: scale(.5, .5);

  background: orange;
  background: -webkit-radial-gradient(#f5c313, #ec7e08);
  background: -moz-radial-gradient(#f5c313, #ec7e08);
  background: -o-radial-gradient(#f5c313, #ec7e08);
  background: radial-gradient(#f5c313, #ec7e08);

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  z-index: 4;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;

  -webkit-box-shadow: 0 0 50px #f5c91a;
  -moz-box-shadow: 0 0 50px #f5c91a;
  box-shadow: 0 0 50px #f5c91a;

  -webkit-animation: sunGlow 2s infinite alternate;
  -moz-animation: sunGlow 2s infinite alternate;
  -o-animation: sunGlow 2s infinite alternate;
  animation: sunGlow 2s infinite alternate;
}

#earthOrbit{
  height: 700px;
  width: 600px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -300px;
  z-index: 4;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;

  -webkit-animation: planetRotation 30s linear infinite;
  -moz-animation: planetRotation 30s linear infinite;
  -o-animation: planetRotation 30s linear infinite;
  animation: planetRotation 30s linear infinite;
}

#earth{
  width: 60px;
  height: 60px;

  position: absolute;
  top: 50%;
  left: 0;

  margin-top: -40px;

  -webkit-animation: planetRotation 3s linear infinite;
  -moz-animation: planetRotation 3s linear infinite;
  -o-animation: planetRotation 3s linear infinite;
  animation: planetRotation 3s linear infinite;

}

#moonOrbit{
  height: 120px;
  width: 100px;

  position: absolute;
  z-index: 4;
  top: 50%;
  left: -5px;

  margin-top: -60px;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;

  -webkit-animation: planetRotation 4s linear infinite reverse;
  -moz-animation: planetRotation 4s linear infinite reverse;
  -o-animation: planetRotation 4s linear infinite reverse;
  animation: planetRotation 4s linear infinite reverse;

}

#moon{
  height: 20px;
  width: 20px;

  background: gray;
  background: -webkit-radial-gradient(#ddd, #888);
  background: -moz-gradient(#ddd, #888);
  background: -gradient(#ddd, #888);

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
